body {
    font-size: 13px;
    /*line-height: 19px;*/
    color: #111;
    font-family: Arial,sans-serif;
}
/* remove codrops styles and reset the whole thing */
#container_demo{
   text-align: left;
   margin: 0;
   padding: 0;
   margin: 0 auto;
   font-family: "Trebuchet MS","Myriad Pro",Arial,sans-serif;
}

/** fonts used for the icons **/ 
@font-face {
    font-family: 'FontomasCustomRegular';
    src: url('fonts/fontomas-webfont.eot');
    src: url('fonts/fontomas-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/fontomas-webfont.woff') format('woff'),
         url('fonts/fontomas-webfont.ttf') format('truetype'),
         url('fonts/fontomas-webfont.svg#FontomasCustomRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FranchiseRegular';
    src: url('fonts/franchise-bold-webfont.eot');
    src: url('fonts/franchise-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/franchise-bold-webfont.woff') format('woff'),
         url('fonts/franchise-bold-webfont.ttf') format('truetype'),
         url('fonts/franchise-bold-webfont.svg#FranchiseRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
a.hiddenanchor{
  display: none;
}
/** The wrapper that will contain our two forms **/
#wrapper{
  width: 100%;
  right: 0px;
  min-height: 383px;  
  margin: 0px auto; 
  /*width: 500px;*/
  position: relative; 
}
/**** Styling the form elements **/

/**** general text styling ****/
#wrapper a{
  color: rgb(95, 155, 198);
  text-decoration: underline;
}

#wrapper h1{
  font-size: 48px;
  color: rgb(6, 106, 117);
  padding: 2px 0 10px 0;
  font-family: 'FranchiseRegular','Arial Narrow',Arial,sans-serif;
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
}
/** For the moment only webkit supports the background-clip:text; */
#wrapper h1{
    background: -webkit-repeating-linear-gradient(-45deg, 
  rgb(18, 83, 93) , 
  rgb(18, 83, 93) 20px, 
  rgb(64, 111, 118) 20px, 
  rgb(64, 111, 118) 40px, 
  rgb(18, 83, 93) 40px);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
#wrapper h1:after{
  content: ' ';
  display: block;
  width: 100%;
  height: 2px;
  margin-top: 10px;
  background: -moz-linear-gradient(left, rgba(147,184,189,0) 0%, rgba(147,184,189,0.8) 20%, rgba(147,184,189,1) 53%, rgba(147,184,189,0.8) 79%, rgba(147,184,189,0) 100%); 
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(147,184,189,0)), color-stop(20%,rgba(147,184,189,0.8)), color-stop(53%,rgba(147,184,189,1)), color-stop(79%,rgba(147,184,189,0.8)), color-stop(100%,rgba(147,184,189,0))); 
  background: -webkit-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  background: -o-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  background: -ms-linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
  background: linear-gradient(left, rgba(147,184,189,0) 0%,rgba(147,184,189,0.8) 20%,rgba(147,184,189,1) 53%,rgba(147,184,189,0.8) 79%,rgba(147,184,189,0) 100%); 
}

#wrapper p{
  margin-bottom:15px;
}
#wrapper p:first-child{
  margin: 0px;
}
#wrapper label{
  position: relative;
  font-weight: bold;
}
#enter {
  padding: 7px 15px 7px 15px;
  border-radius: 3px;
  border: 1px solid pink;
  width: 100%;
  margin-bottom: 10px;
}

/* all the input except submit and checkbox */
#wrapper table{
  margin: 0 auto;
  width: 43%;
}
#full_content{
  /*padding: 0px 170px 30px 170px;*/
}
#content_title{
  text-align: center;
  font-weight: bold;
}
#question{
  /*margin-top: 15px;*/
}
#choosing{
  /*margin-top: 15px;*/
}
#q_tip{
  font-weight: normal;
  font-size: 13px;
}
#choice{
  float: left; 
  margin-right: 70px; 
  margin-left: 20px;
}
#grade_choice{
  text-align: center;
  margin-top: 0px;
}
.col-sm-12 h3{
  font-weight: bold;
  text-decoration: underline;
}
#total_score{
  float: right;
  font-weight: bold;
}

/*    for block table    */
table{
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}
table tr th{
  border: 1px solid black;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}
table tr td{
  border: 1px solid black;
  padding: 10px;
}